.footer {
    margin: 10px auto;
    padding-block: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #787878;
}

.footer ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

@media (max-width:650px) {
    .footer {
        text-align: center;
        display: block;
    }

    .footer ul {
        margin-top: 10px;
    }

    .footer ul li {

        margin: 10px;
    }
}